<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.demo.beike.entity.dao.PersonalAppointmentMapper">
  <resultMap id="BaseResultMap" type="cn.demo.beike.entity.PersonalAppointment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="person_number" jdbcType="INTEGER" property="personNumber" />
    <result column="appointment_id" jdbcType="INTEGER" property="appointmentId" />
    <result column="appointmentdetail_id" jdbcType="INTEGER" property="appointmentdetailId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, person_number,appointment_id, appointmentdetail_id, time, flag, gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from personal_appointment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from personal_appointment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.demo.beike.entity.PersonalAppointment">
    insert into personal_appointment (id, person_number, appointment_id,  appointmentdetail_id,
      time, flag, gmt_create, 
      gmt_modified, status)
    values (#{id,jdbcType=INTEGER}, #{personNumber,jdbcType=INTEGER}, #{appointmentId,jdbcType=INTEGER},
      #{appointmentdetailId,jdbcType=INTEGER},
      #{time,jdbcType=TIMESTAMP}, #{flag,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.demo.beike.entity.PersonalAppointment">
    insert into personal_appointment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="personNumber != null">
        person_number,
      </if>
      <if test="appointmentId != null">
        appointment_id,
      </if>
      <if test="appointmentdetailId != null">
        appointmentdetail_id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="personNumber != null">
        #{personNumber,jdbcType=INTEGER},
      </if>
      <if test="appointmentId != null">
        #{appointmentId,jdbcType=INTEGER},
      </if>
      <if test="appointmentdetailId != null">
        #{appointmentdetailId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.demo.beike.entity.PersonalAppointment">
    update personal_appointment
    <set>
      <if test="personNumber != null">
        person_number = #{personNumber,jdbcType=INTEGER},
      </if>
      <if test="appointmentId != null">
        appointment_id = #{appointmentId,jdbcType=INTEGER},
      </if>
      <if test="appointmentdetailId != null">
        appointmentdetail_id = #{appointmentdetailId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.demo.beike.entity.PersonalAppointment">
    update personal_appointment
    set person_number = #{personNumber,jdbcType=INTEGER},
        appointment_id = #{appointmentId,jdbcType=INTEGER},
      appointmentdetail_id = #{appointmentdetailId,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>